/* APP >> NAVBAR */
.custom-nav {
    background-color: #A563CD;
}

/* APP >> NAVBAR >> LOGO */
.custom-nav-logo {
    width: 50px;
    height: auto;
}

/* APP >> NAVBAR >> LINKS */
.custom-nav>div>div>ul>li>a {
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.custom-nav>div>div>ul>li>a:hover {
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    transition: 1s;
}

/* APP >> NAVBAR >> ACTIVE LINK */
.custom-active-link {
    background-color: rgb(0, 0, 0, 0.3)
}

/* APP >> FOOTER */
.custom-footer {
    background-color: #A563CD;
    color: white;
}

/* GUEST */
.custom-guest {
    background-color: rgb(165, 99, 205, 0.5);
}

/* GUEST >> LOGO */
.custom-guest-logo {
    width: 150px;
    height: auto;
}

/* LOGIN >> EMAIL, PASSWORD, REMEMBER */
/* REGISTER >> NAME, EMAIL, PASSWORD, CONFIRM */
.custom-field:focus {
    border-color: #8e44ad;
    box-shadow: 0 0 0 0.2rem rgba(142, 68, 173, 0.5);
}

/* LOGIN >> BOTÓN LOGIN*/
/* REGISTER >> BOTÓN REGISTER*/
.custom-login,
.custom-register {
    background-color: #A563CD;
    color: white;
}

.custom-login:hover,
.custom-register:hover {
    background-color: rgb(165, 99, 205, 0.8);
    color: white;
}

/* LOGIN >> CHECKBOX */
.custom-field-check:checked {
    background-color: #8e44ad;
    border-color: #8e44ad;
}

/* PANEL ADMIN */

/* Sidebar con altura fija y scroll interno */
.custom-sidebar {
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    position: fixed; /* Mantiene el sidebar fijo al lado izquierdo */
}

/* Contenido principal */
.custom-panel {
    overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura de la ventana */
}

/* PANEL ADMIN >> SIDEBAR */

.nav-link.custom-active.active {
    background-color: #A563CD;
    color: #fff;
    border-color: #A563CD;
}

.nav-link.custom-active{
    color: #fff;
}

.custom-active:hover {
    background-color: #8e44ad !important;
    color: #fff;
    border-color: #8e44ad !important;
}